In [1]:
import numpy as np
import pandas as pd

In [2]:
# Importing csv files and assigning their df. 

cleaned_housing_data = pd.read_csv('cleaned_housing.csv')  
cleaned_school_data = pd.read_csv('cleaned_schools.csv')

In [3]:
cleaned_housing_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2000,...,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022
0,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90482.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
1,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
2,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0
3,84630,6,60629,zip,IL,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,134815.0,...,250979.0,254203.0,256125.0,257985.0,259968.0,263482.0,265884.0,266766.0,266268.0,266278.0
4,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,106287.0,...,248717.0,252136.0,256277.0,261510.0,267272.0,272762.0,277137.0,280034.0,281687.0,282383.0

In [4]:
# Dropping columns except for most current housing data
cleaned_housing_data.drop(cleaned_housing_data.iloc[:, 9:280], inplace=True, axis=1)

In [5]:
cleaned_housing_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,8/31/2022,9/30/2022
0,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,194779.0,196166.0
1,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,580707.0,583489.0
2,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,778630.0,781713.0
3,84630,6,60629,zip,IL,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,266268.0,266278.0
4,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,281687.0,282383.0

In [6]:
# Oops, forgot one"

cleaned_housing_data = cleaned_housing_data.drop(["8/31/2022"], axis=1)

In [7]:
# Renaming Housing Value column
cleaned_housing_data.rename(columns={'9/30/2022': 'Housing Value', 'RegionName': 'ZIP'}, inplace=True)

In [8]:
cleaned_housing_data.head()

,RegionID,SizeRank,ZIP,RegionType,StateName,State,City,Metro,CountyName,Housing Value
0,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0
1,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,583489.0
2,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,781713.0
3,84630,6,60629,zip,IL,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,266278.0
4,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,282383.0

In [9]:
cleaned_school_data.head()

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,-9.844095e+06,5230976.133,1,1.703300e+11,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,9618,...,IMAGERY/OTHER,2010/08/27 00:00:00+00,NOT AVAILABLE,HIGH,95,9,12,1703300,11,NOT AVAILABLE
1,-9.007027e+06,4195441.532,2,3.702970e+11,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,3699,...,IMAGERY/OTHER,2016/08/22 00:00:00+00,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,491,PK,5,3702970,29,NOT AVAILABLE
2,-9.580426e+06,4792069.206,3,1.803690e+11,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,1364,...,IMAGERY/OTHER,2010/08/02 00:00:00+00,NOT AVAILABLE,ELEMENTARY,480,PK,4,1803690,25,NOT AVAILABLE
3,-1.243297e+07,3927587.870,4,4.018700e+10,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S POWER RD,QUEEN CREEK,AZ,85142,4507,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,ELEMENTARY,953,PK,6,401870,53,NOT AVAILABLE
4,-1.243258e+07,3924830.599,5,4.018700e+10,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S POWER RD,QUEEN CREEK,AZ,85142,8428,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,HIGH,3101,7,12,401870,149,NOT AVAILABLE

In [10]:
# Merging DF's
merged_df = pd.merge(cleaned_housing_data, cleaned_school_data, on='ZIP', how='outer')

In [11]:
merged_df.head()

,RegionID,SizeRank,ZIP,RegionType,StateName,State,City,Metro,CountyName,Housing Value,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,93144.0,2.0,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0,...,IMAGERY,2018/10/24 00:00:00+00,http://www.sisd.net,ELEMENTARY,724.0,PK,5,4840710.0,43.0,NOT AVAILABLE
1,93144.0,2.0,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0,...,IMAGERY,2010/04/12 00:00:00+00,http://relwash.yisd.net,ELEMENTARY,603.0,PK,6,4846680.0,39.0,NOT AVAILABLE
2,93144.0,2.0,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0,...,IMAGERY,2010/04/06 00:00:00+00,http://www.sisd.net,MIDDLE,988.0,6,8,4840710.0,63.0,NOT AVAILABLE
3,93144.0,2.0,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0,...,IMAGERY/OTHER,2019/01/14 00:00:00+00,http://pebblehills.yisd.net,ELEMENTARY,690.0,PK,5,4846680.0,47.0,NOT AVAILABLE
4,93144.0,2.0,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,196166.0,...,IMAGERY,2010/04/15 00:00:00+00,http://tierradelsol.yisd.net,ELEMENTARY,698.0,PK,6,4846680.0,45.0,NOT AVAILABLE

In [13]:
for col in merged_df.columns:
    print(col)

RegionID
SizeRank
ZIP
RegionType
StateName
State
City
Metro
CountyName
Housing Value
X
Y
OBJECTID
NCESID
NAME
ADDRESS
CITY
STATE
ZIP4
TELEPHONE
TYPE
STATUS
POPULATION
COUNTY
COUNTYFIPS
COUNTRY
LATITUDE
LONGITUDE
NAICS_CODE
NAICS_DESC
SOURCE
SOURCEDATE
VAL_METHOD
VAL_DATE
WEBSITE
LEVEL_
ENROLLMENT
ST_GRADE
END_GRADE
DISTRICTID
FT_TEACHER
SHELTER_ID

In [16]:
merged_df = merged_df.drop(["StateName", "X", "Y"], axis=1)

In [18]:
# Exporting school csv 

# Create the output file (CSV).
output_data_file = "merged_df"
# Export the City_Data into a CSV.
merged_df.to_csv("merged_df.csv", index=False)